- empty_repo = @project.empty_repo?
.project-home-panel.text-center{ class: ("empty-project" if empty_repo) }
  .limit-container-width{ class: container_class }
    .avatar-container.s70.project-avatar
      = project_icon(@project, alt: @project.name, class: 'avatar s70 avatar-tile', width: 70, height: 70)
    %h1.project-title.qa-project-name
      = @project.name
      %span.visibility-icon.has-tooltip{ data: { container: 'body' }, title: visibility_icon_description(@project) }
        = visibility_level_icon(@project.visibility_level, fw: false)

    .project-home-desc
      - if @project.description.present?
        = markdown_field(@project, :description)
      - if can?(current_user, :read_project, @project)
        .text-secondary.prepend-top-8
          = s_('ProjectPage|Project ID: %{project_id}') % { project_id: @project.id }

      - if @project.forked?
        %p
          - if @project.fork_source
            #{ s_('ForkedFromProjectPath|Forked from') }
            = link_to project_path(@project.fork_source) do
              = fork_source_name(@project)
          - else
            - deleted_message = s_('ForkedFromProjectPath|Forked from %{project_name} (deleted)')
            = deleted_message % { project_name: fork_source_name(@project) }

    .project-badges.prepend-top-default.append-bottom-default
      - @project.badges.each do |badge|
        %a.append-right-8{ href: badge.rendered_link_url(@project),
          target: '_blank',
          rel: 'noopener noreferrer' }>
          %img.project-badge{ src: badge.rendered_image_url(@project),
            'aria-hidden': true,
            alt: '' }>

    .project-repo-buttons
      .count-buttons
        = render 'projects/buttons/star'
        = render 'projects/buttons/fork'

      %span.d-none.d-sm-inline
        - if can?(current_user, :download_code, @project)
          .project-clone-holder
            = render "shared/clone_panel"

          - if show_xcode_link?(@project)
            .project-action-button.project-xcode.inline
              = render "projects/buttons/xcode_link"

        - if current_user
          - if can?(current_user, :download_code, @project)
            = render 'projects/buttons/download', project: @project, ref: @ref
            = render 'projects/buttons/dropdown'
            = render 'projects/buttons/koding'

          = render 'shared/notifications/button', notification_setting: @notification_setting
          = render 'shared/members/access_request_buttons', source: @project
